.floor-plan-overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  object-fit: contain;
  max-height: 100vh;
}

.floor-plan-legend {
  position: absolute;
  left: 5%;
  bottom: 10%;
  z-index: 100;
  border-radius: 16px;
  color: #fff;
  min-width: 320px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
  pointer-events: all;
  padding: 20px;
  backdrop-filter: blur(10px);
  height: fit-content;
  text-transform: uppercase;
  @media screen and (max-width: 769px) {
    left: 50%;
    top: 90%;
    transform: translate(-50%, -80%);
  }
}

.floor-plan-legend.v2 {
  backdrop-filter: blur(0px);
  bottom: 70vh;
  left: 0;
  transform: translateY(50%);
  display: flex;
  flex-direction: column-reverse;
  box-shadow: none;
  gap: 20px;
  text-transform: none;
  padding-top: 50px;
  padding-bottom: 0;
  @media screen and (max-width: 1024px) {
    position: unset;
    transform: unset;
  }
  @media screen and (max-width: 769px) {
    padding-top: 0px;
  }
}

.floor-plan-legend.v2 .legend-title {
  margin-top: 0;
  line-height: 70px;
  font-weight: 300;
  font-size: 3.333rem;
  @media screen and (max-width: 769px) {
    max-width: 300px;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
  }
}

.floor-plan-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* màu nền mờ */
  z-index: 999; /* nhỏ hơn modal */
  display: block;
}

.floor-plan-modal-overlay.hidden {
  display: none;
}

.floor-plan-legend.v2 .legend-title .legend-title-text {
  color: #9ed194;
}

.legend-title-item {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 1s, transform 1s;
}

.legend-title-item.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.floor-plan-legend.v2 .legend-list {
  -webkit-backdrop-filter: blur(2.5px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  gap: 1.04167rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2.5px);
  border-top: 3px solid #9ed193;
  border-radius: 0.625rem;
  background: rgba(6, 27, 26, 0.5);
  padding: 1.04167rem;
  width: 16.66667rem;
  width: 100%;

  @media screen and (max-width: 1024px) {
    width: 50%;
  }
  @media screen and (max-width: 769px) {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 100%;
    margin-top: 0;
  }
}

.floor-plan-legend.v2 .legend-list div {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.341);
  padding: 5px 0;
  justify-content: space-between;
  margin-bottom: 0;
  font-size: clamp(14px, 0.83333rem, 1.04167rem);
  @media screen and (max-width: 769px) {
    padding: 5px 0;
  }
}

.floor-plan-legend.v2 .legend-list span {
  height: 22px;
  width: 22px;
}

.floor-plan-legend.v2 .legend-list div:last-child {
  border-bottom: none;
}

.legend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.legend-list div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  text-shadow: 0 0 10px #000;
}
.legend-list span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 12px;
  text-shadow: 0 0 10px #000;
  @media (max-width: 769px) {
    width: 10px;
    height: 10px;
  }
}
.legend-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 30px;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #000;
  @media (max-width: 769px) {
    font-size: 1rem;
  }
}

#svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
}

#svg-container::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(2, 82, 93, 0) 0,
    rgba(2, 82, 93, 0.75) 100%
  );
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: '';
}
